#appizy {
    display: inline-block;
}
form {
    display: block;
    margin-top: 0em;
}
.tabs-list {
    height: 30px;
    margin: -1px;
    padding: 0;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.tabs-list li.active {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}
.tabs-list li {
    height: 30px;
    line-height: 30px;
    list-style: none;
    float: left;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    margin-right: 5px;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.tabs {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    margin-bottom: 20px;
}
div {
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.tab-content.active {
    display: block;
}
.tab-content {
    padding: 10px;
    display: none;
}
div {
}
* {
    box-sizing: border-box;
}
table {
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

element.style {
}

.ro1 {
    height: 15pt;
}
tr {
    font-size: 10pt;
    font-family: Arial;
    min-height: 10px;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.ce2 {
    background-color: #D9E1F2;
    font-family: QuickType Condensed;
    font-size: 10pt;
    font-weight: bold;
}
td {
    padding: 2px;
    line-height: normal;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.ce67 {
    border: thin solid #000000;
    background-color: #FFF2CC;
    text-align: start;
    font-family: QuickType Condensed;
    font-size: 10pt;
    font-weight: bold;
}

.ce3 {
    background-color: transparent;
    font-family: QuickType Condensed;
    font-size: 10pt;
    font-weight: bold;
}

.ce68 {
    background-color: #D9E1F2;
    text-align: center;
    font-family: QuickType Condensed;
    font-size: 10pt;
    font-weight: bold;
}

.ce69 {
    border-top: thin solid #000000;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: #FFF2CC;
    text-align: center;
    font-family: QuickType Condensed;
    font-weight: bold;
}
.ro1 {
    height: 15pt;
}

tr {
    font-size: 10pt;
    font-family: Arial;
    min-height: 10px;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
​
.ce71 {
    background-color: #D9E1F2;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

td {
    padding: 2px;
    line-height: normal;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.ce4 {
    font-size: 10pt;
    font-weight: bold;
}
.ce8 {
    font-size: 10pt;
    font-weight: bold;
}
