{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BAJ oil stations">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Ashaba">

    <title>Baj</title>

    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/adminpro-custon-icon.css' %}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- data-table CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/data-table/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/data-table/bootstrap-editable.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- charts C3 CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/c3.min.css' %}">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/form/all-type-forms.css' %}">
    <!-- datapicker CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/datapicker/datepicker3.css' %}">
    <!-- switcher CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/switcher/color-switcher.css' %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Color Css Files
		============================================ -->
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-one.css' %}" title="color-one" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-two.css' %}" title="color-two" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-three.css' %}" title="color-three" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-four.css' %}" title="color-four" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-five.css' %}" title="color-five" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-six.css' %}" title="color-six" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-seven.css' %}" title="color-seven" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-eight.css' %}" title="color-eight" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-nine.css' %}" title="color-nine" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-ten.css' %}" title="color-ten" media="screen" />

</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Header top area start-->

    <!-- Header top area start-->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="admin-logo">
{#                        <a href="#"><img src="{% static 'images/baj.jpeg' %}" alt="" />#}
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-0 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav mai-top-nav">
                            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link">About</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-9 col-sm-6 col-xs-12">
                    <div class="header-right-info">
                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                    <span class="admin-name">BAJ Co</span>
                                    <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                                </a>
                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                    <li><a href="#"><span class="adminpro-icon adminpro-home-admin author-log-ic"></span>My Account</a>
                                    </li>
                                    <li><a href="#"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>My Profile</a>
                                    </li>
                                    <li><a href="#"><span class="adminpro-icon adminpro-money author-log-ic"></span>User Billing</a>
                                    </li>
                                    <li><a href="#"><span class="adminpro-icon adminpro-settings author-log-ic"></span>Settings</a>
                                    </li>
                                    <li><a href="#"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header top area end-->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs custom-menu-wrap">
                        <li class="active"><a href="{% url 'home' %}">Home</a>
                        </li>
                        <li><a data-toggle="tab" href="#Readings">Readings</a>
                        </li>
                        <li><a data-toggle="tab" href="#Products">Products</a>
                        </li>
                        <li><a data-toggle="tab" href="#Reports">Reports</a>
                        </li>
                        <li><a data-toggle="tab" href="#Clients">Clients</a>
                        </li>
                        <li><a data-toggle="tab" href="#CreditSales">Credit Sales</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Readings" class="tab-pane tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'readings' %}">All Readings</a>
                                </li>
                                <li><a href="{% url 'tank_readings' %}">Tank</a>
                                </li>
                                <li><a href="{% url 'meter_readings' %}">Meter</a>
                                </li>
                            </ul>
                        </div>
                        <div id="Products" class="tab-pane tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="">Petrol</a>
                                </li>
                                <li><a href="">Diesel</a>
                                </li>
                                <li><a href="">Kerosene</a>
                                </li>
                            </ul>
                        </div>
                        <div id="Reports" class="tab-pane tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="">General</a>
                                </li>
                                <li><a href="{% url 'pumps' %}">Pump</a>
                                </li>
                                <li><a href="">Meter</a>
                                </li>
                                <li><a href="">Sales</a>
                                </li>
                            </ul>
                        </div>
                        <div id="Clients" class="tab-pane tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="">View Clients</a>
                                </li>
                                <li><a href="">Add Clients</a>
                                </li>
                            </ul>
                        </div>
                        <div id="CreditSales" class="tab-pane tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="">View</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
    {% block content %}

    {% endblock %}

<!-- Footer Start-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &#169; 2018 aratech LLC All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->

<!-- Chat Box End-->
    <!-- jquery
		============================================ -->
    <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- counterup JS
		============================================ -->
    <script src="{% static 'js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'js/counterup/counterup-active.js' %}"></script>
    <!-- peity JS
		============================================ -->
    <script src="{% static 'js/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/peity/peity-active.js' %}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{% static 'js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/sparkline/sparkline-active.js' %}"></script>
    <!-- flot JS
		============================================ -->
    <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/flot/Chart.min.js' %}"></script>
    <script src="{% static 'js/flot/flot-active.js' %}"></script>
    <!-- map JS
		============================================ -->
    <script src="{% static 'js/map/raphael.min.js' %}"></script>
    <script src="{% static 'js/map/jquery.mapael.js' %}"></script>
    <script src="{% static 'js/map/france_departments.js' %}"></script>
    <script src="{% static 'js/map/world_countries.js' %}"></script>
    <script src="{% static 'js/map/usa_states.js' %}"></script>
    <script src="{% static 'js/map/map-active.js' %}"></script>
    <!-- data table JS
		============================================ -->
    <script src="{% static 'js/data-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/data-table/tableExport.js' %}"></script>
    <script src="{% static 'js/data-table/data-table-active.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-table-editable.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-editable.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-table-resizable.js' %}"></script>
    <script src="{% static 'js/data-table/colResizable-1.5.source.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-table-export.js' %}"></script>

    <!-- datapicker JS
		============================================ -->
    <script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/datapicker/datepicker-active.js' %}"></script>
    <!-- switcher JS
		============================================ -->
    <script src="{% static 'js/switcher/styleswitch.js' %}"></script>
    <script src="{% static 'js/switcher/switch-active.js' %}"></script>
    <!-- main JS
		============================================ -->
    <script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/report.js' %}"></script>

</body>

</html>
