<div id="appizy" style="width: 920px">
      <form>
        <div>
          <ul class="tabs-list">
            <li class="active">
              <a href="#sheet1">Sheet1</a>
            </li>
          </ul>
        </div>
        <div class="tabs">
          <div id="sheet1" class="tab-content active">
            <table>
              <colgroup>
                <col span="1" class="co1">
                <col span="1" class="co2">
                <col span="1" class="co3">
                <col span="1" class="co4">
                <col span="1" class="co5">
                <col span="1" class="co6">
                <col span="1" class="co7">
                <col span="1" class="co8">
              </colgroup>
              <tbody>
                <tr class="s0r0 ro1">
                  <td class="s0r0c0 text ce2">
                    <p>
                      Station Name:
                    </p>
                  </td>
                  <td class="s0r0c1 text ce67" colspan="3">
                    <p>
                      NDESE
                    </p>
                  </td>
                  <td class="s0r0c4 text ce3"></td>
                  <td class="s0r0c5 text ce3"></td>
                  <td class="s0r0c6 text ce68" rowspan="2">
                    <p>
                      Date:
                    </p>
                  </td>
                  <td class="s0r0c7 text ce69" rowspan="2">
                    <p>
                      24.09.18
                    </p>
                  </td>
                </tr>
                <tr class="s0r1 ro1">
                  <td class="s0r1c0 text ce4">
                    <p>
                      Station Level Inputs
                    </p>
                  </td>
                </tr>
                <tr class="s0r2 ro1">
                  <td class="s0r2c0 text ce71" colspan="6">
                    <p>
                      METER READINGS (LITRES)
                    </p>
                  </td>
                </tr>
                <tr class="s0r3 ro1">
                  <td class="s0r3c0 text ce8"></td>
                  <td class="s0r3c1 text ce9">
                    <p>
                      OPENING READINGS
                    </p>
                  </td>
                  <td class="s0r3c2 text ce9">
                    <p>
                      CLOSING READINGS
                    </p>
                  </td>
                  <td class="s0r3c3 text ce9">
                    <p>
                      Meter Movment
                    </p>
                  </td>
                  <td class="s0r3c4 text ce10">
                    <p>
                      Transfers
                    </p>
                  </td>
                  <td class="s0r3c5 text ce9">
                    <p>
                      Net Sales
                    </p>
                  </td>
                </tr>
                <tr class="s0r4 ro1">
                  <td class="s0r4c0 text ce12">
                    <p>
                      PETROL
                    </p>
                  </td>
                </tr>
                <tr class="s0r5 ro1">
                  <td class="s0r5c0 text ce8">
                    <p>
                      PMS 1
                    </p>
                  </td>
                  <td class="s0r5c1 in in--string ce14">
                    <input id="s0r5c1" name="s0r5c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r5c2 in in--string ce14">
                    <input id="s0r5c2" name="s0r5c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r5c3 out ce15">
                    <input disabled="disabled" name="s0r5c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r5c4 in in--string ce16">
                    <input id="s0r5c4" name="s0r5c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r5c5 out ce15">
                    <input disabled="disabled" name="s0r5c5" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r6 ro1">
                  <td class="s0r6c0 text ce8">
                    <p>
                      PMS 2
                    </p>
                  </td>
                  <td class="s0r6c1 in in--string ce14">
                    <input id="s0r6c1" name="s0r6c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r6c2 in in--string ce14">
                    <input id="s0r6c2" name="s0r6c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r6c3 out ce15">
                    <input disabled="disabled" name="s0r6c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r6c4 in in--string ce16">
                    <input id="s0r6c4" name="s0r6c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r6c5 out ce15">
                    <input disabled="disabled" name="s0r6c5" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r7 ro1">
                  <td class="s0r7c0 text ce8">
                    <p>
                      PMS 3
                    </p>
                  </td>
                  <td class="s0r7c1 in in--string ce14">
                    <input id="s0r7c1" name="s0r7c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r7c2 in in--string ce14">
                    <input id="s0r7c2" name="s0r7c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r7c3 out ce15">
                    <input disabled="disabled" name="s0r7c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r7c4 in in--string ce16">
                    <input id="s0r7c4" name="s0r7c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r7c5 out ce15">
                    <input disabled="disabled" name="s0r7c5" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r8 ro1">
                  <td class="s0r8c0 text ce17"></td>
                  <td class="s0r8c1 text ce14"></td>
                </tr>
                <tr class="s0r9 ro1">
                  <td class="s0r9c0 text ce8">
                    <p>
                      AGO 1
                    </p>
                  </td>
                  <td class="s0r9c1 in in--string ce14">
                    <input id="s0r9c1" name="s0r9c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r9c2 in in--string ce14">
                    <input id="s0r9c2" name="s0r9c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r9c3 out ce21">
                    <input disabled="disabled" name="s0r9c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r9c4 in in--string ce16">
                    <input id="s0r9c4" name="s0r9c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r9c5 out ce15">
                    <input disabled="disabled" name="s0r9c5" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r10 ro1">
                  <td class="s0r10c0 text ce8">
                    <p>
                      AGO 2
                    </p>
                  </td>
                  <td class="s0r10c1 in in--string ce14">
                    <input id="s0r10c1" name="s0r10c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r10c2 in in--string ce14">
                    <input id="s0r10c2" name="s0r10c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r10c3 out ce21">
                    <input disabled="disabled" name="s0r10c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r10c4 in in--string ce16">
                    <input id="s0r10c4" name="s0r10c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r10c5 out ce15">
                    <input disabled="disabled" name="s0r10c5" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r11 ro1">
                  <td class="s0r11c0 text ce8">
                    <p>
                      AGO 3
                    </p>
                  </td>
                  <td class="s0r11c1 in in--string ce14">
                    <input id="s0r11c1" name="s0r11c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r11c2 in in--string ce14">
                    <input id="s0r11c2" name="s0r11c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r11c3 out ce21">
                    <input disabled="disabled" name="s0r11c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r11c4 in in--string ce16">
                    <input id="s0r11c4" name="s0r11c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r11c5 out ce15">
                    <input disabled="disabled" name="s0r11c5" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r12 ro1">
                  <td class="s0r12c0 text ce8"></td>
                  <td class="s0r12c1 text ce14"></td>
                </tr>
                <tr class="s0r13 ro1">
                  <td class="s0r13c0 text ce8">
                    <p>
                      BIK
                    </p>
                  </td>
                  <td class="s0r13c1 out ce14">
                    <input disabled="disabled" name="s0r13c1" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r13c2 in ce14">
                    <input id="s0r13c2" name="s0r13c2" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r13c3 out ce24">
                    <input disabled="disabled" name="s0r13c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r13c4 in in--string ce24">
                    <input id="s0r13c4" name="s0r13c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r13c5 out ce24">
                    <input disabled="disabled" name="s0r13c5" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r14 ro1">
                  <td></td>
                </tr>
                <tr class="s0r15 ro1">
                  <td class="s0r15c0 text ce25"></td>
                  <td class="s0r15c1 text ce72" colspan="4">
                    <p>
                      TANK READINGS (LITRES)
                    </p>
                  </td>
                </tr>
                <tr class="s0r16 ro1">
                  <td class="s0r16c0 text ce25"></td>
                  <td class="s0r16c1 text ce9">
                    <p>
                      PMS (LITRES)
                    </p>
                  </td>
                  <td class="s0r16c2 text ce9">
                    <p>
                      AGO 1 (LITRES)
                    </p>
                  </td>
                  <td class="s0r16c3 text ce9">
                    <p>
                      AGO 2 (LITRES)
                    </p>
                  </td>
                </tr>
                <tr class="s0r17 ro1">
                  <td class="s0r17c0 text ce27">
                    <p>
                      OPENING DIP STOCK (g)
                    </p>
                  </td>
                  <td class="s0r17c1 in in--string ce28">
                    <input id="s0r17c1" name="s0r17c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r17c2 in in--string ce28">
                    <input id="s0r17c2" name="s0r17c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r17c3 in in--string ce28">
                    <input id="s0r17c3" name="s0r17c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r18 ro1">
                  <td class="s0r18c0 text ce27">
                    <p>
                      PRODUCT RECEIPT (h1)
                    </p>
                  </td>
                  <td class="s0r18c1 text ce28"></td>
                  <td class="s0r18c2 text ce28"></td>
                  <td class="s0r18c3 text ce28"></td>
                </tr>
                <tr class="s0r19 ro1">
                  <td class="s0r19c0 text ce27">
                    <p>
                      RTT (h2)
                    </p>
                  </td>
                  <td class="s0r19c1 text ce28"></td>
                  <td class="s0r19c2 text ce28"></td>
                  <td class="s0r19c3 text ce28"></td>
                </tr>
                <tr class="s0r20 ro1">
                  <td class="s0r20c0 text ce27">
                    <p>
                      TOTAL STOCK (i) = (g + h)
                    </p>
                  </td>
                  <td class="s0r20c1 text ce29"></td>
                  <td class="s0r20c2 text ce29"></td>
                  <td class="s0r20c3 text ce29"></td>
                </tr>
                <tr class="s0r21 ro1">
                  <td class="s0r21c0 text ce27">
                    <p>
                      CLOSING DIP STOCK (j)
                    </p>
                  </td>
                  <td class="s0r21c1 in in--string ce28">
                    <input id="s0r21c1" name="s0r21c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r21c2 in in--string ce28">
                    <input id="s0r21c2" name="s0r21c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r21c3 in in--string ce28">
                    <input id="s0r21c3" name="s0r21c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r22 ro1">
                  <td class="s0r22c0 text ce30"></td>
                </tr>
                <tr class="s0r23 ro1">
                  <td class="s0r23c0 text ce27">
                    <p>
                      TANK DIP SALES K = (i - j)
                    </p>
                  </td>
                  <td class="s0r23c1 out ce29">
                    <input disabled="disabled" name="s0r23c1" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r23c2 out ce29">
                    <input disabled="disabled" name="s0r23c2" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r23c3 out ce29">
                    <input disabled="disabled" name="s0r23c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r24 ro1">
                  <td class="s0r24c0 text ce27">
                    <p>
                      METER SALES L = ( d,e,&amp; f)
                    </p>
                  </td>
                  <td class="s0r24c1 out ce29">
                    <input disabled="disabled" name="s0r24c1" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r24c2 out ce29">
                    <input disabled="disabled" name="s0r24c2" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r24c3 out ce29">
                    <input disabled="disabled" name="s0r24c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r25 ro1">
                  <td class="s0r25c0 text ce27">
                    <p>
                      DAILY VARIATIONS = L - K
                    </p>
                  </td>
                  <td class="s0r25c1 out ce29">
                    <input disabled="disabled" name="s0r25c1" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r25c2 out ce29">
                    <input disabled="disabled" name="s0r25c2" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r25c3 out ce29">
                    <input disabled="disabled" name="s0r25c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r26 ro1">
                  <td class="s0r26c0 text ce27">
                    <p>
                      CUMULATIVE VARIATIONS
                    </p>
                  </td>
                  <td class="s0r26c1 text ce28"></td>
                  <td class="s0r26c2 text ce28"></td>
                  <td class="s0r26c3 text ce28"></td>
                </tr>
                <tr class="s0r27 ro1">
                  <td class="s0r27c0 text ce25"></td>
                  <td class="s0r27c1 text ce25"></td>
                  <td class="s0r27c2 text ce26"></td>
                  <td class="s0r27c3 text ce26"></td>
                  <td class="s0r27c4 text ce26"></td>
                  <td class="s0r27c5 text ce26"></td>
                  <td class="s0r27c6 text ce5"></td>
                  <td class="s0r27c7 text ce32"></td>
                </tr>
                <tr class="s0r28 ro1">
                  <td class="s0r28c0 text ce33"></td>
                  <td class="s0r28c1 text ce33">
                    <p>
                      QTY
                    </p>
                  </td>
                  <td class="s0r28c2 text ce33">
                    <p>
                      RATE
                    </p>
                  </td>
                  <td class="s0r28c3 text ce33">
                    <p>
                      AMOUNT
                    </p>
                  </td>
                  <td class="s0r28c4 text ce32">
                    <p>
                      SALES OF OTHER ITEMS
                    </p>
                  </td>
                  <td class="s0r28c5 text ce32"></td>
                  <td class="s0r28c6 text ce32"></td>
                  <td class="s0r28c7 text ce34">
                    <p>
                      VALUE (UGX)
                    </p>
                  </td>
                </tr>
                <tr class="s0r29 ro1">
                  <td class="s0r29c0 text ce35">
                    <p>
                      PMS
                    </p>
                  </td>
                  <td class="s0r29c1 out ce36">
                    <input disabled="disabled" name="s0r29c1" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r29c2 in in--string ce37">
                    <input id="s0r29c2" name="s0r29c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r29c3 out ce38">
                    <input disabled="disabled" name="s0r29c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r29c4 text ce27">
                    <p>
                      PRODUCT
                    </p>
                  </td>
                  <td class="s0r29c5 text ce34">
                    <p>
                      QTY
                    </p>
                  </td>
                  <td class="s0r29c6 text ce34">
                    <p>
                      PRICE
                    </p>
                  </td>
                  <td class="s0r29c7 out ce35">
                    <input disabled="disabled" name="s0r29c7" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r30 ro1">
                  <td class="s0r30c0 text ce35">
                    <p>
                      AGO
                    </p>
                  </td>
                  <td class="s0r30c1 out ce36">
                    <input disabled="disabled" name="s0r30c1" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r30c2 in in--string ce37">
                    <input id="s0r30c2" name="s0r30c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r30c3 out ce38">
                    <input disabled="disabled" name="s0r30c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r30c4 text ce36">
                    <p>
                      Gas
                    </p>
                  </td>
                  <td class="s0r30c5 in ce36">
                    <input id="s0r30c5" name="s0r30c5" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r30c6 in ce36">
                    <input id="s0r30c6" name="s0r30c6" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r30c7 in ce35">
                    <input id="s0r30c7" name="s0r30c7" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r31 ro1">
                  <td class="s0r31c0 text ce35">
                    <p>
                      BIK
                    </p>
                  </td>
                  <td class="s0r31c1 out ce36">
                    <input disabled="disabled" name="s0r31c1" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r31c2 in in--string ce37">
                    <input id="s0r31c2" name="s0r31c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r31c3 out ce38">
                    <input disabled="disabled" name="s0r31c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r31c4 text ce36">
                    <p>
                      -
                    </p>
                  </td>
                  <td class="s0r31c5 text ce36">
                    <p>
                      -
                    </p>
                  </td>
                  <td class="s0r31c6 text ce36">
                    <p>
                      -
                    </p>
                  </td>
                  <td class="s0r31c7 out ce39">
                    <input disabled="disabled" name="s0r31c7" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r32 ro2">
                  <td class="s0r32c0 text ce40">
                    <p>
                      Gross Sales
                    </p>
                  </td>
                  <td class="s0r32c1 text ce40"></td>
                  <td class="s0r32c2 text ce40"></td>
                  <td class="s0r32c3 out ce41">
                    <input disabled="disabled" name="s0r32c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r32c4 text ce36">
                    <p>
                      -
                    </p>
                  </td>
                  <td class="s0r32c5 in ce36">
                    <input id="s0r32c5" name="s0r32c5" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r32c6 in ce36">
                    <input id="s0r32c6" name="s0r32c6" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r32c7 out ce42">
                    <input disabled="disabled" name="s0r32c7" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r33 ro1">
                  <td class="s0r33c0 text ce7"></td>
                  <td class="s0r33c1 text ce7"></td>
                  <td class="s0r33c2 text ce7"></td>
                  <td class="s0r33c3 in in--string ce7">
                    <input id="s0r33c3" name="s0r33c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r33c4 text ce42">
                    <p>
                      Total
                    </p>
                  </td>
                  <td class="s0r33c5 text ce42"></td>
                  <td class="s0r33c6 text ce42"></td>
                </tr>
                <tr class="s0r34 ro1">
                  <td class="s0r34c0 text ce27">
                    <p>
                      Add Other Sales
                    </p>
                  </td>
                  <td class="s0r34c1 text ce35"></td>
                  <td class="s0r34c2 text ce35"></td>
                  <td class="s0r34c3 out ce44">
                    <input disabled="disabled" name="s0r34c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r35 ro1">
                  <td class="s0r35c0 text ce46">
                    <p>
                      Add Collections
                    </p>
                  </td>
                  <td class="s0r35c1 text ce16"></td>
                  <td class="s0r35c2 text ce16"></td>
                  <td class="s0r35c3 in in--string ce15">
                    <input id="s0r35c3" name="s0r35c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r36 ro1">
                  <td class="s0r36c0 text ce46">
                    <p>
                      Total Cash Avalable
                    </p>
                  </td>
                  <td class="s0r36c1 text ce16"></td>
                  <td class="s0r36c2 text ce16"></td>
                  <td class="s0r36c3 out ce15">
                    <input disabled="disabled" name="s0r36c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r37 ro1">
                  <td class="s0r37c0 text ce47">
                    <p>
                      Add B/F+/-
                    </p>
                  </td>
                  <td class="s0r37c1 text ce48"></td>
                  <td class="s0r37c2 text ce48"></td>
                  <td class="s0r37c3 in in--string ce49">
                    <input id="s0r37c3" name="s0r37c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r38 ro1">
                  <td class="s0r38c0 text ce46">
                    <p>
                      Less Deductions
                    </p>
                  </td>
                  <td class="s0r38c1 text ce16"></td>
                  <td class="s0r38c2 text ce16"></td>
                  <td class="s0r38c3 out ce15">
                    <input disabled="disabled" name="s0r38c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r39 ro1">
                  <td class="s0r39c0 text ce46">
                    <p>
                      Cash at Hand
                    </p>
                  </td>
                  <td class="s0r39c1 text ce16"></td>
                  <td class="s0r39c2 text ce16"></td>
                  <td class="s0r39c3 out ce15">
                    <input disabled="disabled" name="s0r39c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r40 ro1">
                  <td class="s0r40c0 text ce47">
                    <p>
                      Cash Banked
                    </p>
                  </td>
                  <td class="s0r40c1 text ce48"></td>
                  <td class="s0r40c2 text ce48"></td>
                  <td class="s0r40c3 in in--string ce49">
                    <input id="s0r40c3" name="s0r40c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r41 ro1">
                  <td class="s0r41c0 text ce46">
                    <p>
                      Excess(Short)
                    </p>
                  </td>
                  <td class="s0r41c1 text ce16"></td>
                  <td class="s0r41c2 text ce16"></td>
                  <td class="s0r41c3 text ce15"></td>
                </tr>
                <tr class="s0r42 ro1">
                  <td class="s0r42c0 text ce46">
                    <p>
                      Cash C/F
                    </p>
                  </td>
                  <td class="s0r42c1 text ce16"></td>
                  <td class="s0r42c2 text ce16"></td>
                  <td class="s0r42c3 out ce15">
                    <input disabled="disabled" name="s0r42c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                </tr>
                <tr class="s0r43 ro1">
                  <td></td>
                </tr>
                <tr class="s0r44 ro1">
                  <td class="s0r44c0 text ce73" colspan="2">
                    <p>
                      OTHER DEDUCTIONS / EXPENSES
                    </p>
                  </td>
                  <td class="s0r44c2 text ce50"></td>
                  <td class="s0r44c3 text ce50"></td>
                  <td class="s0r44c4 text ce50"></td>
                  <td class="s0r44c5 text ce50"></td>
                </tr>
                <tr class="s0r45 ro1">
                  <td></td>
                </tr>
                <tr class="s0r46 ro1">
                  <td class="s0r46c0 text ce64" rowspan="2">
                    <p>
                      DESCRIPTION
                    </p>
                  </td>
                  <td class="s0r46c1 text ce65" colspan="3">
                    <p>
                      LITRES
                    </p>
                  </td>
                  <td class="s0r46c4 text ce66" rowspan="2">
                    <p>
                      AMOUNT
                    </p>
                  </td>
                  <td class="s0r46c5 text ce52"></td>
                  <td class="s0r46c6 text ce52">
                    <p>
                      COMMENTS
                    </p>
                  </td>
                </tr>
                <tr class="s0r47 ro1">
                  <td class="s0r47c1 text ce52">
                    <p>
                      PMS
                    </p>
                  </td>
                  <td class="s0r47c2 text ce52">
                    <p>
                      AGO
                    </p>
                  </td>
                  <td class="s0r47c3 text ce52">
                    <p>
                      BIK
                    </p>
                  </td>
                  <td class="s0r47c5 text ce52"></td>
                  <td class="s0r47c6 text ce52"></td>
                </tr>
                <tr class="s0r48 ro1">
                  <td class="s0r48c0 text ce53">
                    <p>
                      DISCOUNT
                    </p>
                  </td>
                  <td class="s0r48c1 in in--string ce54">
                    <input id="s0r48c1" name="s0r48c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r48c2 in in--string ce54">
                    <input id="s0r48c2" name="s0r48c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r48c3 in in--string ce54">
                    <input id="s0r48c3" name="s0r48c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r48c4 in in--string ce54">
                    <input id="s0r48c4" name="s0r48c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r48c5 text ce54"></td>
                  <td class="s0r48c6 text ce54"></td>
                </tr>
                <tr class="s0r49 ro1">
                  <td class="s0r49c0 text ce54">
                    <p>
                      generator fuel
                    </p>
                  </td>
                  <td class="s0r49c1 in in--string ce54">
                    <input id="s0r49c1" name="s0r49c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r49c2 in in--string ce54">
                    <input id="s0r49c2" name="s0r49c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r49c3 in in--string ce54">
                    <input id="s0r49c3" name="s0r49c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r49c4 in in--string ce54">
                    <input id="s0r49c4" name="s0r49c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r49c5 text ce55"></td>
                  <td class="s0r49c6 text ce55"></td>
                </tr>
                <tr class="s0r50 ro1">
                  <td class="s0r50c0 text ce53">
                    <p>
                      Fuel truck [NYIIKA]
                    </p>
                  </td>
                  <td class="s0r50c1 in in--string ce55">
                    <input id="s0r50c1" name="s0r50c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r50c2 in in--string ce55">
                    <input id="s0r50c2" name="s0r50c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r50c3 in in--string ce55">
                    <input id="s0r50c3" name="s0r50c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r50c4 in in--string ce55">
                    <input id="s0r50c4" name="s0r50c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r50c5 text ce55"></td>
                  <td class="s0r50c6 text ce55"></td>
                </tr>
                <tr class="s0r51 ro1">
                  <td class="s0r51c0 text ce53">
                    <p>
                      DRIVER ALLOWANCE
                    </p>
                  </td>
                  <td class="s0r51c1 in in--string ce55">
                    <input id="s0r51c1" name="s0r51c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r51c2 in in--string ce55">
                    <input id="s0r51c2" name="s0r51c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r51c3 in in--string ce55">
                    <input id="s0r51c3" name="s0r51c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r51c4 in in--string ce55">
                    <input id="s0r51c4" name="s0r51c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r51c5 text ce55"></td>
                  <td class="s0r51c6 text ce55"></td>
                </tr>
                <tr class="s0r52 ro1">
                  <td class="s0r52c0 text ce53"></td>
                  <td class="s0r52c1 in in--string ce55">
                    <input id="s0r52c1" name="s0r52c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r52c2 in in--string ce55">
                    <input id="s0r52c2" name="s0r52c2" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r52c3 in in--string ce55">
                    <input id="s0r52c3" name="s0r52c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r52c4 in in--string ce55">
                    <input id="s0r52c4" name="s0r52c4" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r52c5 text ce55"></td>
                  <td class="s0r52c6 text ce55"></td>
                </tr>
                <tr class="s0r53 ro2">
                  <td class="s0r53c0 text ce56">
                    <p>
                      TOTAL
                    </p>
                  </td>
                  <td class="s0r53c1 out ce57">
                    <input disabled="disabled" name="s0r53c1" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r53c2 out ce57">
                    <input disabled="disabled" name="s0r53c2" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r53c3 out ce57">
                    <input disabled="disabled" name="s0r53c3" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r53c4 out ce57">
                    <input disabled="disabled" name="s0r53c4" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r53c5 text ce57"></td>
                  <td class="s0r53c6 text ce57"></td>
                </tr>
                <tr class="s0r54 ro1">
                  <td></td>
                </tr>
                <tr class="s0r55 ro1">
                  <td class="s0r55c0 text ce58">
                    <p>
                      DISCOUNTS
                    </p>
                  </td>
                  <td class="s0r55c1 text ce58"></td>
                  <td class="s0r55c2 text ce58"></td>
                  <td class="s0r55c3 text ce58"></td>
                  <td class="s0r55c4 text ce58"></td>
                  <td class="s0r55c5 text ce58"></td>
                  <td class="s0r55c6 text ce58"></td>
                </tr>
                <tr class="s0r56 ro1">
                  <td class="s0r56c0 text ce51"></td>
                  <td class="s0r56c1 text ce51"></td>
                  <td class="s0r56c2 text ce51"></td>
                  <td class="s0r56c3 text ce51"></td>
                  <td class="s0r56c4 text ce51"></td>
                  <td class="s0r56c5 text ce51"></td>
                  <td class="s0r56c6 text ce51"></td>
                  <td class="s0r56c7 text ce58"></td>
                </tr>
                <tr class="s0r57 ro1">
                  <td class="s0r57c0 text ce27">
                    <p>
                      CUSTOMER NAME
                    </p>
                  </td>
                  <td class="s0r57c1 text ce27">
                    <p>
                      QTY SOLD
                    </p>
                  </td>
                  <td class="s0r57c2 text ce27">
                    <p>
                      PRODUCT SOLD
                    </p>
                  </td>
                  <td class="s0r57c3 text ce27">
                    <p>
                      DISCOUNT RATE
                    </p>
                  </td>
                  <td class="s0r57c4 text ce27">
                    <p>
                      TOTAL AMOUNT
                    </p>
                  </td>
                  <td class="s0r57c5 text ce27"></td>
                  <td class="s0r57c6 text ce59">
                    <p>
                      CONTACT
                    </p>
                  </td>
                </tr>
                <tr class="s0r58 ro3">
                  <td class="s0r58c0 text ce20"></td>
                  <td class="s0r58c1 text ce20"></td>
                  <td class="s0r58c2 text ce20"></td>
                  <td class="s0r58c3 text ce20"></td>
                  <td class="s0r58c4 text ce20"></td>
                  <td class="s0r58c5 text ce16"></td>
                  <td class="s0r58c6 text ce36"></td>
                  <td class="s0r58c7 text ce59">
                    <p>
                      AUTHORIZED BY
                    </p>
                  </td>
                </tr>
                <tr class="s0r59 ro1">
                  <td class="s0r59c0 text ce60">
                    <p>
                      Discount
                    </p>
                  </td>
                  <td class="s0r59c1 in in--string ce54">
                    <input id="s0r59c1" name="s0r59c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r59c2 text ce54"></td>
                  <td class="s0r59c3 in in--string ce54">
                    <input id="s0r59c3" name="s0r59c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r59c4 out ce16">
                    <input disabled="disabled" name="s0r59c4" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r59c5 text ce16"></td>
                  <td class="s0r59c6 text ce36"></td>
                  <td class="s0r59c7 text ce36"></td>
                </tr>
                <tr class="s0r60 ro1">
                  <td class="s0r60c0 text ce60"></td>
                  <td class="s0r60c1 in in--string ce54">
                    <input id="s0r60c1" name="s0r60c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r60c2 text ce54"></td>
                  <td class="s0r60c3 in in--string ce54">
                    <input id="s0r60c3" name="s0r60c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r60c4 out ce16">
                    <input disabled="disabled" name="s0r60c4" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r60c5 text ce16"></td>
                  <td class="s0r60c6 text ce36"></td>
                  <td class="s0r60c7 text ce36"></td>
                </tr>
                <tr class="s0r61 ro1">
                  <td class="s0r61c0 text ce60"></td>
                  <td class="s0r61c1 in in--string ce54">
                    <input id="s0r61c1" name="s0r61c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r61c2 text ce54"></td>
                  <td class="s0r61c3 in in--string ce54">
                    <input id="s0r61c3" name="s0r61c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r61c4 out ce16">
                    <input disabled="disabled" name="s0r61c4" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r61c5 text ce16"></td>
                  <td class="s0r61c6 text ce36"></td>
                  <td class="s0r61c7 text ce36"></td>
                </tr>
                <tr class="s0r62 ro1">
                  <td class="s0r62c0 text ce60"></td>
                  <td class="s0r62c1 in in--string ce54">
                    <input id="s0r62c1" name="s0r62c1" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r62c2 text ce54"></td>
                  <td class="s0r62c3 in in--string ce54">
                    <input id="s0r62c3" name="s0r62c3" data-value="" data-value-type="string" data-format=" 0,0.00">
                  </td>
                  <td class="s0r62c4 out ce16">
                    <input disabled="disabled" name="s0r62c4" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r62c5 text ce16"></td>
                  <td class="s0r62c6 text ce36"></td>
                  <td class="s0r62c7 text ce36"></td>
                </tr>
                <tr class="s0r63 ro1">
                  <td class="s0r63c0 text ce61">
                    <p>
                      TOTAL DISCOUNTS
                    </p>
                  </td>
                  <td class="s0r63c1 text ce62"></td>
                  <td class="s0r63c2 text ce62"></td>
                  <td class="s0r63c3 text ce62"></td>
                  <td class="s0r63c4 out ce62">
                    <input disabled="disabled" name="s0r63c4" data-value="0" data-value-type="float" data-format=" 0,0.00">
                  </td>
                  <td class="s0r63c5 text ce16"></td>
                  <td class="s0r63c6 text ce36"></td>
                  <td class="s0r63c7 text ce36"></td>
                </tr>
                <tr class="s0r64 ro1">
                  <td class="s0r64c0 text ce63"></td>
                  <td class="s0r64c1 text ce63"></td>
                  <td class="s0r64c2 text ce63"></td>
                  <td class="s0r64c3 text ce63"></td>
                  <td class="s0r64c4 text ce63"></td>
                  <td class="s0r64c5 text ce62"></td>
                  <td class="s0r64c6 text ce35"></td>
                  <td class="s0r64c7 text ce36"></td>
                </tr>
                <tr class="s0r65 ro1">
                  <td class="s0r65c0 text ce63"></td>
                  <td class="s0r65c1 text ce63"></td>
                  <td class="s0r65c2 text ce63"></td>
                  <td class="s0r65c3 text ce63"></td>
                  <td class="s0r65c4 text ce63"></td>
                  <td class="s0r65c5 text ce63"></td>
                  <td class="s0r65c6 text ce51"></td>
                  <td class="s0r65c7 text ce35"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>