{% extends 'base.html' %}

{% block content %}
    <form action="report.html">
    <p>Select Pump</p>
    {{ form.pump }}
    <p>Opening Reading</p>
    {{ form.opening_reading }}
    <p>Closing Reading</p>
    {{ form.closing_reading }}
    <p>Transfers</p>
    {{ form.transfers }}
    <button type="button" id="addBtn" class="btn btn-primary btn-sm" onclick="addButton();">Add</button>
    <button id="cancelBtn" type="reset" class="btn btn-dark btn-sm">Cancel</button>
    </form>


<table id="table" height="20%"  class=" table table-bordered" >
  <thead class="black white-text">
   <small>
    <h3>TANK READINGS</h3>
    <tr>
      <th scope="col"></th>
      <th scope="col">PMS[LITRES]</th>
      <th scope="col">TRUCK</th>
      <th scope="col">AGO[LITRES]</th>
      <th scope="col">BIK [LITRES]</th>
    </tr>
    </small> 
  </thead>
  <tbody>
    <small>
    <tr>
      <th >OPENIG DIP STOCK</th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
    <tr>
      <th scope="row">PRODUCT RECEIPT</th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
    <tr>
      <th scope="row">RTT</th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
        <tr>
      <th scope="row"><small>TOTAL STOCK</small></th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
        <tr>
      <th scope="row"><small>CLOSING DIP STOCK</small></th>
      <small><td height="5%">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS" maxlength="5">
      </td></small>
      <small><td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK" maxlength="10">
      </td></small>
     <small> <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" width="48" height="48" >
      </td></small>
      <small><td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK" width="2" height="18">
      </td></small>
    </tr>
        <tr>
      <th scope="row"><small>TANK DIP SALES</small></th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
        <tr>
      <th scope="row"><small>METER SALES</small></th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>

    </tr>
</small>


  </tbody>
</table>
</form>

{% endblock %}