{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="content mt-3">
        <div class="animated fadeIn">
{#            <form name="resultForm">#}
{#                {% csrf_token %}#}
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <div class="card-header">
                            <small>Select Pump</small>
                        </div>
                        <div class="card-body">
                            {{ form.pump }}
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="card-header">
                            <small>Opening Reading</small>
                        </div>
                        <div class="card-body">
                            {{ form.opening_reading }}
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="card-header">
                            <small>Closing Reading</small>
                        </div>
                        <div class="card-body">
                            {{ form.closing_reading }}
                        </div>
                        <input type="hidden" id="meterMovement" name="meter-movement">
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="card-header">
                            <small>Transfers</small>
                        </div>
                        <div class="card-body">
                            {{ form.transfers }}
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="card-header">
                            <small>Action</small>
                        </div>
                        <div class="card-body">
                            <button type="submit" id="addBtn" class="btn btn-primary btn-sm">
                          Add
                        </button>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="card-header">
                            <small>Action</small>
                        </div>
                        <div class="card-body">
                            <button id="cancelBtn" type="reset" class="btn btn-dark btn-sm">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
{#            </form>#}
        </div>
    </div>


<script type="text/javascript">

$(document).ready( function() {

    $("#addBtn").click( function(event) {
        var opening_reading = $('#openingReadingId').val();
        alert("You clicked the button using JQuery!");
    });
});

</script>

{#<table id="table" height="20%"  class=" table table-bordered" >#}
{#  <thead class="black white-text">#}
{#   <small>#}
{#    <tr>#}
{#      <th scope="col">#</th>#}
{#      <th scope="col">OPENING READINGS</th>#}
{#      <th scope="col">CLOSING READINGS</th>#}
{#      <th scope="col">METER MOVEMENTS</th>#}
{#      <th scope="col">TRANSFERS</th>#}
{#      <th scope="col">NET SALES</th>#}
{#    </tr>#}
{#    </small> #}
{#  </thead>#}
{#  <tbody>#}
{#    <small>#}
{#    <tr>#}
{#      <th scope="row">pms1</th>#}
{#      <td height="5">#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="opening reading">#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="closing reading">#}
{#      </td>#}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="meter movement" disabled>#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Transfers">#}
{#      </td>#}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="net sales" disabled>#}
{#      </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">pms2</th>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="opening reading">#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="closing reading">#}
{#      </td>#}
{#      <td>#}
{#         <input class="form-control" id="disabledInput" type="text" placeholder="meter movement" disabled>#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Transfers">#}
{#      </td>#}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="net sales" disabled>#}
{#      </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">pms3</th>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="opening reading">#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="closing reading">#}
{#      </td>#}
{#      <td >#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="meter movement" disabled>#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Transfers">#}
{#      </td> #}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="net sales" disabled>#}
{#      </td> #}
{#    </tr>#}
{#</small>#}
{#    <!--dIESL READINGS-->#}
{#    <tr><td>Diesel</td></tr>#}
{#        <tr>#}
{#      <th scope="row">ago1</th>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="opening reading">#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="closing reading">#}
{#      </td>#}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="meter movement" disabled>#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Transfers">#}
{#      </td>#}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="net sales" disabled>#}
{#      </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">ago2</th>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="opening reading">#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="closing reading">#}
{#      </td>#}
{#      <td>#}
{#         <input class="form-control" id="disabledInput" type="text" placeholder="meter movement" disabled>#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Transfers">#}
{#      </td>#}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="net sales" disabled>#}
{#      </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">ago3</th>#}
{#      <td >#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="opening reading">#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="closing reading">#}
{#      </td>#}
{#      <td >#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="meter movement" disabled>#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Transfers">#}
{#      </td> #}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="net sales" disabled>#}
{#      </td> #}
{#    </tr>#}
{#    <!--KEROSENE READINGS-->#}
{#    <tr><td>KEROSENE</td></tr>#}
{#        <tr>#}
{#      <th scope="row">BIK1</th>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="opening reading">#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="closing reading">#}
{#      </td>#}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="meter movement" disabled>#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Transfers">#}
{#      </td>#}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="net sales" disabled>#}
{#      </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">BIK2</th>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="opening reading">#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="closing reading">#}
{#      </td>#}
{#      <td>#}
{#         <input class="form-control" id="disabledInput" type="text" placeholder="meter movement" disabled>#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Transfers">#}
{#      </td>#}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="net sales" disabled>#}
{#      </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">BIK3</th>#}
{#      <td >#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="opening reading">#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="closing reading">#}
{#      </td>#}
{#      <td >#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="meter movement" disabled>#}
{#      </td>#}
{#      <td>#}
{#        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Transfers">#}
{#      </td> #}
{#      <td>#}
{#        <input class="form-control" id="disabledInput" type="text" placeholder="net sales" disabled>#}
{#      </td> #}
{#    </tr>#}
{#  </tbody>#}
{#</table>#}


<table id="table" height="20%"  class=" table table-bordered" >
  <thead class="black white-text">
   <small>
    <h3>TANK READINGS</h3>
    <tr>
      <th scope="col"></th>
      <th scope="col">PMS[LITRES]</th>
      <th scope="col">TRUCK</th>
      <th scope="col">AGO[LITRES]</th>
      <th scope="col">BIK [LITRES]</th>
    </tr>
    </small> 
  </thead>
  <tbody>
    <small>
    <tr>
      <th >OPENIG DIP STOCK</th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
    <tr>
      <th scope="row">PRODUCT RECEIPT</th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
    <tr>
      <th scope="row">RTT</th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
        <tr>
      <th scope="row"><small>TOTAL STOCK</small></th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
        <tr>
      <th scope="row"><small>CLOSING DIP STOCK</small></th>
      <small><td height="5%">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS" maxlength="5">
      </td></small>
      <small><td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK" maxlength="10">
      </td></small>
     <small> <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" width="48" height="48" >
      </td></small>
      <small><td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK" width="2" height="18">
      </td></small>
    </tr>
        <tr>
      <th scope="row"><small>TANK DIP SALES</small></th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>
    </tr>
        <tr>
      <th scope="row"><small>METER SALES</small></th>
      <td height="5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="PMS">
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="TRUCK">
      </td>
      <td>
        <input class="form-control" id="disabledInput" type="text" placeholder="AGO" >
      </td>
      <td>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="BIK">
      </td>

    </tr>
</small>


  </tbody>
</table>
</form>

{% endblock %}